<html lang="en">
  <head>
    <title>RSS by email</title>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
    </style>
  </head>
  <body>
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;"
    >
      <tr>
        <td align="center">
          <table width="600" cellspacing="0" cellpadding="0">
            <tr>
              <td
                style="background-color: #ffffff; text-align: center; padding: 30px;"
              >
                <h1 style="font-size: 24px; color: #333333;">Paperboy - Today's news</h1>
              </td>
            </tr>

            {{#each items}}
              <tr>
                <td style="padding: 20px;background-color: #f4f4f4;border-bottom:1px solid #ece6e6;">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding-bottom: 2px;">
                        <a href="{{url}}" style="text-deocration:none;color:#000;" target="_blank">
                          <h2 style="font-size: 18px; color: #000000; margin: 15px 0 4px 0; font-weight: bold;">
                            {{title}}
                          </h2>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="font-size: 14px; color: #666666; line-height: 1.5;background-color: #f4f4f4;">
                        <ul style="margin:0;padding:0;list-style:square;">
                          {{#each entries}}
                            <li style="margin:0; padding:0 0 4px 0;">
                              <a href="{{url}}" style="text-decoration:none; color:#000;">{{title}}</a>
                            </li>
                          {{/each}}
                        </ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            {{/each}}
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
